In [1]:
print("hello world")

hello world


* 학번 : 202517096

* 이름 : 임정혁

* 작성일 : 0901

* 관련챕터 : 1장

In [6]:
# Commenet(주석, 설명문)는 실행에 영향을 주지 않는다
# 첫 번째 실행 연습
# 출력 연습

print("Hello world") # 화면에 출력하는 함수 print()를 호출(call)

Hello world

In [8]:
print('홍길동') # ''또는 " " 안에 문자열(String)을 써준다

홍길동

In [9]:
100 + 200

300

In [10]:
100*2
200* 3 # 마지막 계산 결과만 화면에 출력됨

600

In [13]:
#두 개의 계산 결과 모두 출력

print(100*2) # print()는 기본적으로 한줄에 출력
print(200*3)

200
600

In [18]:
# 문자열과 숫자를 같이 출력
print(100*2) # 100*2는 정수
print("100*2") # "100*2" 는 문자열

# 100 * 2 = 200 출력하기
print("100*2 =", 100*2) # 여러개를 한 줄에 출력하고 싶을때는 ,를 사용

200
100*2
100*2 = 200

In [21]:
# 현재 20살인 철수군이 자신의 이름과 12년 후 몇 살이 되는지를 한 줄에 전부 출력하려고 한다
# 출력 예 : 나는 홍길동이고, 12년 후에는 33세입니다

print("나는 임정혁이고, 12년 후에는", 12+20,"세입니다")

나는 임정혁이고, 12년 후에는 32 세입니다

[연습 1] 100 + 200 × 3 + 100/3을 계산해 보자.

In [11]:
# [연습 1]
print("100 + 200 x 3 + 100/3의 값은",100 + 200 * 3 + 100/3,"입니다")

100 + 200 x 3 + 100/3의 값은 733.3333333333334 입니다

[연습 2] 반지름이 100인 원의 면적을 계산해 보자.

In [10]:
# [연습 2]
#import math
#print(100*100*math.pi)
print("반지름이 100인 원의 넓이는",100**2*3.14,"입니다")

반지름이 100인 원의 넓이는 31400.0 입니다

In [13]:
# 화씨 온도를 섭씨 온도로 변환하여 출력
ftemp = 100 # ftemp는 변수이다. ftemp에 100을 저장. ftemp의 타입은 정수. #ftemp는 섭씨온도를 저장하기 위한 변수

ctemp = (ftemp - 32.0 )*5/9 # 화씨 온도를 섭씨 온도로 변환하는 공식 사용
print(ctemp) # 섭씨 온도 출력

37.77777777777778

[연습 3] print() 함수 실습

In [14]:
# [연습 3]
print("안녕하세요 여러분")
print("저는 파이썬을 무척 좋아합니다")
print("9*8은", 72,"입니다.")
print("안녕히 계세요")

안녕하세요 여러분
저는 파이썬을 무척 좋아합니다
9*8은 72 입니다.
안녕히 계세요

[연습 4] age 라는 변수에 자신의 나이를 저장하고, 다음을 출력하라.
* 출력: 19세인 경우, 나의 나이는 19세입니다.

In [15]:
# [연습 4]
age = 20
print("나의 나이는",age,"세 입니다")

나의 나이는 20 세 입니다